--index-url https://download.pytorch.org/whl/cpu
torch==2.10.0+cpu

numpy<2

fastapi==0.128.0
uvicorn==0.40.0
qdrant-client==1.16.2
sentence-transformers==5.2.2
google-genai==1.61.0
python-dotenv==1.2.1
requests==2.32.5
